.expanding-item {
    margin: 5px 0px 5px 0px;
    background-color: var(--main-3);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
}
.expanding-item:hover {
    background-color: transparent;
}
.expand-open {
    min-height: 10px;
}
.expand-closed {
    display: none;
}
a {
    color: var(--accent-2);
}
.github-repo {
    display: flex;
    color: var(--accent-2)
}
.blurb {
    padding: 10px;
    font-size: small;
}