.App {
  --max-width: 1200px;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
}

.page {
  background-color: var(--main-4);
  width: 100vw;
  overflow: auto;
}
.header {
  min-height: 10vh;
  background-color: var(--main-3);
  color: var(--accent-1);
  display: flex;
  justify-content: space-evenly;
}
.header .container {
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pfp {
  margin: 10px;
  border-radius: 50%;
  float: right;
  max-height: 150px;
}
.header h1 {
  font-size: clamp(1rem, calc(6vw), calc(var(--max-width) * 0.06));
}
.header p {
  font-size: clamp(0.4rem, calc(3vw), calc(var(--max-width) * 0.03));
}
.sub-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}
.sub-header:hover img{
  opacity: 100%
}
.sub-header:hover ~ .contact-details{
  display: flex;
  justify-content: space-between;
}
.contact-details:hover {
  display: flex;
  justify-content: space-between;
}
.contact-details {
  width: 100%;
  display: none;
  align-self: flex-end;
}
.contact-details p{
  font-size: clamp(0.2rem, calc(1.5vw), calc(var(--max-width) * 0.015));
}
.icon {
  margin: 10px;
  max-width: 20px;
  opacity: 50%;
  /*https://codepen.io/sosuke/pen/Pjoqqp*/
  filter: invert(57%) sepia(51%) saturate(3187%) hue-rotate(329deg) brightness(93%) contrast(79%);
}
.icon:hover {
  opacity: 100%;
}


.content-element {
  margin: 20px;
}
.info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.content-element h1, h2 {
  color: var(--accent-1);
  margin: 10px;
}
.content-element h2 {
  font-size: large;
}
.content-element p {
  margin: 10px;
}






@media (max-width: 400px){
  .content-element {
    margin: 10px;
  }
}

@media (min-width: 800px){
  .content {
    display: flex;
  }
  .header img {
    max-height: 200px;
  }
  .icon {
    max-width: 24px;
  }
}